/*
COMMON
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*
HEADER
*/

.main-header {
  font-family: "Cuprum", sans-serif;
  background-color: #f3f7f9;
}

.container {
  margin: 0 auto;
  width: 960px;
  padding: 0 10px;
}

.main-header-logo {
  position: relative;
  background-color: #ee3643;
  padding: 14px 55px 7px;
}

.main-header-logo img {
  width: 110px;
}

.main-header-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #c23f42;
}

.header-top-wrapper {
  display: flex;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  background-color: #33445a;
}

.header-search {
  position: relative;
  width: 270px;
  margin: 0;
  padding: 0;
}

.header-search input {
  width: 100%;
  min-height: 42px;
  padding-left: 50px;
  color: inherit;
  background: #33445a;
  border: none;
  transition: 200ms all;
}

.header-search input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.header-search input::placeholder {
  color: #ffffff;
}

.header-search svg {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}

.header-search path {
  opacity: 0.3;
  fill: #ffffff;
}

.header-search input:focus + svg > path {
  opacity: 1;
  fill: #ee3643;
}

.header-search input:hover + svg > path {
  opacity: 1;
}

.bookmarks,
.basket,
.order {
  display: block;
  padding-top: 12px;
  color: #ffffff;
}

.bookmarks {
  position: relative;
  width: 160px;
  padding-left: 44px;
}

.bookmarks:active {
  opacity: 0.6;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  width: 14px;
  height: 16px;
  background: url(../img/icon-bookmark.svg) no-repeat 0 0;
  opacity: 0.3;
  transition: 200ms all;
  transform: translateY(-50%);
}

.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.6;
}

.basket {
  position: relative;
  width: 140px;
  padding-left: 40px;
}

.basket:active {
  opacity: 0.6;
}

.basket::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
  transition: 200ms all;
  transform: translateY(-50%);
}

.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}

.basket:active::before {
  opacity: 0.6;
}

.order {
  width: 150px;
  padding-left: 20px;
  background-color: #63a63e;
  transition: 200ms all;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.header-middle {
  padding-top: 47px;
  padding-bottom: 23px;
}

.header-middle-wrapper {
  display: flex;
}

.header-middle h1 {
  width: 270px;
  padding: 0 0 0 52px;;
  font-size: 16px;
  line-height: 23px;
  color: #ff5357;
  font-family: "Cuprum", sans-serif;
  font-style: italic;
  text-align: left;
  font-weight: normal;
  margin: 0 40px 0 0;
}

.contacts-header {
  padding-left: 10px;
}

.contacts-link {
  padding: 0;
  margin: 0 35px 0 0;
  width: 270px;
  border: 3px solid #ffffff;
}

.contacts-link a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  position: relative;
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ee3643;
}

.contacts-link a::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-phone.svg") no-repeat 0 0;
  opacity: 0.3;
  transition: 200ms all;
}

.contacts-address {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 14px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
}

.header-bottom {
  display: flex;
  padding-bottom: 63px;
}

.user-controls-menu {
  display: flex;
  flex-direction: column;
}

.user-controls-list {
  display: flex;
  margin: 0 0 6px;
  padding-left: 35px;
  list-style: none;
}

.user-controls-list li {
  margin-right: 10px;
}

.user-controls-list li:last-child {
  margin-right: 0;
}

.user-login,
.user-register,
.user-logged {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", sans-serif;
  color: #000000;
  background-color: #ffffff;
  transition: 200ms color;
}

.user-login {
  position: relative;
  width: 120px;
  padding-left: 47px;
}

.user-login::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 12px;
  width: 20px;
  height: 18px;
  background: url("../img/icon-login.svg") no-repeat 0 0;
  transition: 200ms all;
}

.user-login:hover::after {
  background-image: url("../img/icon-login-blue.svg");
}

.user-login:active::after {
  background-image: url("../img/icon-login.svg");
}

.user-register {
  width: 150px;
  padding-left: 25px;
}

.user-logged {
  position: relative;
  width: 300px;
  padding-left: 47px;
}

.user-logged::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 18px;
  background: url("../img/icon-user.svg") no-repeat 0 0;
  transition: 200ms all;
}

.user-logged::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 18px;
  background: url("../img/icon-logout.svg") no-repeat 0 0;
  transition: 200ms all;
}

.user-logged:hover::before,
.user-logged:focus::before {
  background-image: url("../img/icon-user-blue.svg");
}

.user-logged:hover::after,
.user-logged:focus::after {
  background-image: url("../img/icon-logout-blue.svg");
}

.user-logged:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-logged:active::before,
.user-logged:active::after {
  opacity: 0.3;
}

.user-login:hover,
.user-register:hover,
.user-login:focus,
.user-register:focus {
  color: #ee3643;
}

.user-login:active,
.user-register:active {
  color: #c5c5c5;
}

.user-control-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 60px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
}

.user-control-navigation-list li {
  position: relative;
}

.user-control-navigation-list li:nth-child(n+2) {
  padding-left: 32px;
}

.user-control-navigation-list li:nth-child(n+2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  background-color: #33445a;
  border-radius: 10px;
}

.user-control-navigation-list a {
  color: #33445a;
  text-decoration: underline;
  transition: 200ms all;
}

.user-control-navigation-list a:hover,
.user-control-navigation-list a:focus {
  color: #ee3643;
}

.user-control-navigation-list a:active {
  color: #33445a;
  opacity: 0.3;
}

.main-navigation {
  position: relative;
  margin: 0;
  width: 960px;
  background-color: #32425c;
}

.main-navigation::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #293449;
}

.main-navigation-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.main-navigation-list a {
  display: block;
  color: #ffffff;
  padding: 22px 30px 18px;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", sans-serif;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  background-color: #293449;
}

.main-navigation-list a:active {
  color: #93969c;
  background-color: #1d2739;
  border-bottom: 5px #1d2739;
}

/*MAIN*/

.offers {
  padding-top: 60px;
}

.offers .offer-materials {
  background-color: #ffbf47;
 background-image: url("../img/icon-1.svg");
}

.offers .offer-tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
}

.offers .offer-equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
}

.offers .offer-discount {
  margin-right: 0;
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
}

.offers .offer-delivery {
  margin-right: 0;
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
}

.offers-content {
  display: flex;
  flex-wrap: wrap;
}

.offers-first-row {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.offers-first-row li.offer-item:last-child {
  margin-right: 0;
}

.offers .offer-item {
  width: 300px;
  background-repeat: no-repeat;
  background-position: 220px center;
}

.offers-first-row .offer-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.offers-second-row {
  flex-wrap: wrap;
  display: flex;
}

.offers-second-row .offer-item {
  margin-left: 20px;
  margin-bottom: 20px;
}


.offers-right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.offer-slider {
  width: 620px;
}

.offer-slide--second {
  display: none;
}

.offers h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  margin-left: 25px;
  margin-bottom: 10px;
}

.offers a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.offer-button {
  display: block;
  width: 135px;
  margin-bottom: 25px;
  margin-left: 25px;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 2px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 200ms all;
}

.offer-button:hover,
.offer-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slide-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/*SECTIONS*/

.section-header a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.section-header .btn {
  width: 250px;
}

.btn {
  display: inline-block;
  padding: 11px 50px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #ff5357;
  border: none;
  border-radius: 2px;
  transition: 150ms all;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.section-header .section-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.popular-products {
  margin-bottom: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px 26px;
  background-color: #f9f5f0;
}

.products-pop {
  display: flex;
}

.products-pop-list {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-pop-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.products-pop-list li:nth-child(4n) {
  margin-right: 0;
}

.products-pop-list img {
  margin-bottom: 33px;
}

.product-pop-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.product-pop-item {
  font-size: 16px;
}

.product-pop-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 5;
}

.product-pop-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.product-pop-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 170px;
  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: white;
  z-index: 10;
}

.product-pop-item .actions .buy,
.product-pop-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.product-pop-item .actions .buy:hover,
.product-pop-item .actions .buy:focus {
  background-color: #5fbb2d;
}

.product-pop-item .actions .buy:active {
  background-color: #518534;
}

.product-pop-item .actions .buy {
  position: relative;
}

.product-pop-item .actions .buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  opacity: 0.3;
}

.product-pop-item .actions .buy:hover::before {
  opacity: 1;
}

.product-pop-item .actions .bookmark {
  margin-bottom: 50px;
  padding-bottom: 4px;
  color: #33445a;
  border: 2px solid #63a63e;
}

.product-pop-item .actions .bookmark:hover,
.product-pop-item .actions .bookmark:focus {
  border-color: #33445a;
}

.product-pop-item .actions .bookmark:active {
  opacity: 0.3;
}

.product-pop-item:hover,
.product-pop-item:focus {
  box-shadow: 0 10px 30px -10px #000000;
}

.product-pop-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-pop-item .actions {
  display: none;
}

.product-pop-item:hover .actions {
  display: block;
}

.product-pop-item .actions {
  display: none;
}

.product-pop-item .image {
  width: 218px;
  height: 168px;
}

.product-pop-item .image img {
  max-width: 100%;
}

.product-pop-item .product-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.product-pop-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.product-pop-item .price {
  position: relative;
  width: 120px;
  margin: 10px auto 20px;
  padding: 10px 20px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.product-pop-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.popular-manufacturers a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.manufactures {
  display: flex;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer-item {
  border: 1px solid #eaeaea;
  height: 145px;
  margin-bottom: 20px;
  flex-basis: 220px;
  margin-right: 20px;
}

.manufacturer-item a {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.manufacturer-item:nth-child(4n) {
  margin-right: 0;
}

.manufacturer-item:hover,
.manufacturer-item:focus {
  box-shadow: 0 10px 20px -10px #000000;
}

.manufacturer-item:active {
  opacity: 0.5;
}

.services {
  display: flex;
  background-color: #f4f8fa;
}

.services-header h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.services-header p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-slide h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.service-slide p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-company {
  width: 620px;
  padding-right: 20px;
}

.contacts {
  width: 300px;
}

.about-company p {
  margin: 0 0 27px;
  padding: 0;
}

.about-company p:last-of-type {
  margin-bottom: 20px;
}

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px
}

.first-column {
  width: 620px;
}

.information-header,
.contacts-information-header {
  margin: 0 0 30px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.partners-list {
  padding: 0;
  margin: 0 0 35px;
}

.partners-list li {
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 0 35px;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", sans-serif;
}

.partners-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  margin-top: -1px;
  background-color: #ff716f;
}

.information-button {
  padding: 10px 40px;
}

.button-map {
  margin: 0;
  padding: 0;
}

.contacts p {
  margin-bottom: 30px;
}

.contacts img {
  margin-bottom: 35px;
}

.contacts-button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* CATALOG */

.catalog-navigation {
  display: flex;
}

.search-navigation-list {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0;
  padding: 0;
  list-style: none;
}

.search-navigation-list li {
  position: relative;
  margin-right: 40px;
  padding-top: 2px;
}

.search-navigation-list li:last-child {
  margin-right: 0;
}

.search-navigation-list li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
}

.current-catalog,
.search-navigation-list a {
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-current::after {
  display: none;
}

.current-catalog::after {
  display: none;
}

/*FILTERS*/

.filters {
  width: 220px;
}

.filter-list {
  list-style: none;
  padding-left: 0;
}

.filter-list label {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}

.catalog-main-section-wrapper {
  display: flex;
  margin-bottom: 60px;
}

.filter-form {
  margin-top: 13px;
}

.filters-header {
  display: flex;
  align-items: center;
  min-height: 37px;
  background-color: #f7f3ec;
}

.filters-header h2 {
  margin: 0;
  padding-left: 19px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
}

.price-filter-wrapper .range-controls {
  margin-bottom: 8px;
  padding: 40px 20px;
  background-color: #f7f3ec;
}

.price-filter-wrapper .min-price,
.price-filter-wrapper .max-price {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-filter-wrapper {
  margin-bottom: 43px;
}

.filter-button {
  padding: 12px 38px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  cursor: pointer;
}

.catalog-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 22px 28px;
  background-color: #f4f7f9;
}

.catalog-name h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
  font-family: "Cuprum", sans-serif;
  color: #3d546e;
  text-transform: uppercase;
  letter-spacing: -1px;
}

/*FILTER*/

.filter-form fieldset {
  padding: 0;
  border: 0;
}

.filter-form legend {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.manufacture-filter {
  margin: 0 0 20px;
  text-align: left;
}

.manufacture-filter {
  position: relative;
  margin: 0 0 20px;
}

.manufacture-filter legend {
  margin: 0 0 12px;
}

.manufacture-filter::before,
.manufacture-filter::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.manufacture-filter::before {
  top: -18px;
}

.manufacture-filter::after {
  bottom: 0;
}

.manufacture-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacture-filter li {
  margin-bottom: 16px;
}

.manufacture-checkbox {
  position: relative;
  padding-left: 35px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.manufacture-checkbox input[type="checkbox"] {
  display: none;
}

.manufacture-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.manufacture-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  background: url("../img/checkbox-on.svg") no-repeat;
}

.manufacture-checkbox input[type="checkbox"]:hover:not(:checked) + .checkbox-indicator,
.manufacture-checkbox input[type="checkbox"]:focus:not(:checked) + .checkbox-indicator {
  background: url("../img/checkbox-off-hover.svg") no-repeat;
}

.manufacture-checkbox input[type="checkbox"]:hover:checked + .checkbox-indicator,
.manufacture-checkbox input[type="checkbox"]:focus:checked + .checkbox-indicator {
  background: url("../img/checkbox-on-hover.svg") no-repeat;
}

.power-supply-filter {
  margin-bottom: 60px;
}

.power-supply-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.power-supply-filter li {
  margin-bottom: 16px;
}

.power-supply-radio {
  position: relative;
  padding-left: 35px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.power-supply-radio input[type="radio"] {
  display: none;
}

.power-supply-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat;
}

.power-supply-radio input[type="radio"]:checked + .radio-indicator {
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  background: url("../img/radio-on.svg") no-repeat;
}

.power-supply-radio input[type="radio"]:hover:not(:checked) + .radio-indicator,
.power-supply-radio input[type="radio"]:focus:not(:checked) + .radio-indicator {
  background: url("../img/radio-off-hover.svg") no-repeat;
}

.power-supply-radio input[type="radio"]:hover:checked + .radio-indicator,
.power-supply-radio input[type="radio"]:focus:checked + .radio-indicator {
  background: url("../img/radio-on-hover.svg") no-repeat;
}

.sort-menu {
  display: flex;
}

.catalog {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 700px;
}

.catalog-header {
  display: flex;
  align-items: center;
  min-height: 37px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.catalog-header p {
  width: 240px;
  margin: 0 auto 0 0;
  text-transform: uppercase;
}

.sorting-title {
  padding-left: 20px;
}

.catalog-sort {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  line-height: 18px;
}

.types-of-sort a {
  position: relative;
  color: #c5c5c5;
  text-transform: uppercase;
}

.catalog-sort .types-of-sort {
  display: flex;
  width: 400px;
}

.types-of-sort .sort-by-type {
  margin-left: 70px;
}

.types-of-sort .sort-by-functionality {
  margin-left: 65px;
}

.catalog-sort .order-buttons {
  width: 60px;
}

.types-of-sort a {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.types-of-sort a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px dotted #ee3643;
}

.types-of-sort a:hover,
.types-of-sort a:focus {
  color: #000000;
}

.types-of-sort a:active,
.types-of-sort .active {
  color: #ee3643;
}

.types-of-sort a:hover::after {
  border-top-style: solid;
}

.types-of-sort a:active::after,
.catalog-sort a.active::after {
  border: none;
}

.catalog-sort .active:hover::after {
  border-top: 1px solid #ee3643;
}

.catalog-sort .active:active::after {
  border: none;
}

.order-buttons {
  margin: 0;
  padding: 0;
}

.order-buttons .sort-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.order-buttons .active {
  color: #ee3643;
  fill: #ee3643;
}

.order-buttons a:last-child {
  margin-left: 20px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  padding: 0;
  list-style: none;
  margin: 0 0 30px;
}

.catalog-items li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-items img {
  margin-bottom: 33px;
}

.catalog-items li:nth-child(3n) {
  margin-right: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 5;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 170px;
  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: white;
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
  background-color: #5fbb2d;
}

.catalog-item .actions .buy:active {
  background-color: #518534;
}

.catalog-item .actions .buy {
  position: relative;
}

.catalog-item .actions .buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  opacity: 0.3;
}

.catalog-item .actions .buy:hover::before {
  opacity: 1;
}

.catalog-item .actions .bookmark {
  margin-bottom: 50px;
  padding-bottom: 4px;
  color: #33445a;
  border: 2px solid #63a63e;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
  border-color: #33445a;
}

.catalog-item .actions .bookmark:active {
  opacity: 1;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 30px -10px #000000;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .product-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 120px;
  margin: auto auto 20px;
  padding: 10px 20px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

/*PAGINATION*/

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list .pagination-item {
  margin-right: 10px;
}

.pagination-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.pagination-list a:active {
  border-color: #ee3643;
}

.pagination-list .pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  cursor: default;
}

.pagination-list .next {
  margin-left: -10px;
  padding: 0 30px;
}

/*ABOUT*/

.few-words-wrapper {
  display: flex;
}

.few-words {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f4f8fa;
}

.few-words .container {
  display: block;
}

.few-words h2 {
  margin: 0 0 30px;
  font-size: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.few-words p {
  margin: 0;
}

/*FOOTER*/

.footer-nav {
  background-color: #32425c;
}

.footer-top-wrapper {
  display: flex;
}

.footer-top {
  margin-bottom: 32px;
}

.footer-logo {
  width: 220px;
  background-color: #ee3643;
  padding: 20px 45px 10px;
  box-shadow: inset 0 -5px 0 0 #b52933;
}

.footer-top-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0;
  margin: 0 0 0 auto;
  list-style: none;

}

.footer-menu a {
  text-align: center;
  height: 17px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #f4f8fa;
}

.footer-menu li:not(:last-child) a {
  margin-right: 60px;
}

.footer-menu a:hover,
.footer-menu a:focus {
  border-bottom: 1px solid #f4f8fa;
}

.footer-menu a:active {
  opacity: 0.5;
}

.footer-menu li:not(:last-child) a {
  margin-right: 60px;
}

.footer-middle {
  padding-bottom: 55px;
  background-color: #32425c;
}

.footer-middle-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #f4f8fa;
}

.footer-section-menu {
  padding: 0;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-section-menu a {
  text-align: center;
  height: 17px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #ffda96;
}

.footer-section-menu a:hover,
.footer-section-menu a:focus {
  border-bottom: 1px solid #ffda96;
}

.footer-section-menu a:active {
  opacity: 0.5;
}

.footer-section-menu li:not(:last-child) a {
  margin-right: 60px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 28px;
  background-color: #293449;
}

.footer-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.footer-social {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0 0 170px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-social li:not(:last-of-type) {
  margin-right: 4px;
}

.footer-feedback {
  display: inline-block;
  width: 100px;
}

.footer-bottom-wrapper .footer-feedback {
  margin-left: 120px;
}

.footer-developers {
  width: 100px;
}

.footer-bottom-wrapper .footer-developers {
  margin-left: 80px;
}

.footer-feedback a,
.footer-developers a {
  line-height: 18px;
  color: #ffda96;
  text-decoration: none;
}

.footer-feedback a:hover,
.footer-developers a:hover,
.footer-feedback a:focus,
.footer-developers a:focus {
  border-bottom: 1px solid #ffda96;
}

.footer-feedback a:active,
.footer-developers a:active {
  color: #ee3643;
  border: none;
}

.modal {
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  border-top: 7px solid #ff5257;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 6px;
  width: 27px;
  height: 4px;
  background: #ff5357;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-write-us {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  min-height: 420px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
}

.write-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 47px 80px 29px;
}

.write-us-item {
  width: 220px;

}

.write-us-list .write-us-item:last-child {
  width: 100%;
}

.write-us-list input:focus {
  outline: none;
}

.write-us-item label {
  display: block;
  margin-bottom: 9px;
  font: 18px/18px "Cuprum", "Arial", sans-serif;
}

.write-us-item input,
.write-us-item textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  font: inherit;
  line-height: 18px;
  background-color: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us-item input {
  margin-bottom: 20px;
}

.write-us-item textarea {
  height: 115px;
}

.write-us-item input::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.write-us-item textarea::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.write-us-item input:hover,
.write-us-item textarea:hover {
  border-color: #b5b5b5;
}

.write-us-item input:focus,
.write-us-item textarea:focus {
  border-color: #ee3643;
}

.write-us-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us-bottom button {
  display: block;
  flex-grow: 1;
}

.modal-basket {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  min-height: 275px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  transform: translate(-50%, -50%);
}

.modal-basket-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 158px;
  margin: 0;
  padding: 0;
}

.modal-basket-top {
  vertical-align: middle;
  padding: 35px 0 35px 180px;
}

.modal-basket-wrapper p {
  position: relative;
  line-height: 30px;
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-basket-wrapper p::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -99px;
  width: 66px;
  height: 66px;
  background: url("../img/icon-mark.svg") 0 0 no-repeat;
}

.modal-basket-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.modal-basket-bottom .button {
  flex-basis: 140px;
}

.modal-basket-bottom a:last-child {
  color: #000000;
  background-color: #ffffff;
}

.modal-basket-bottom a:last-child:hover,
.modal-basket-bottom a:last-child:focus {
  background-color: #dbd9d9;
}


.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ebf0f0;
  border: none;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  transform: translate(-50%, -50%);
}

.modal-show {
  display: block;
}
