/*
COMMON
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.modal {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*
HEADER
*/

.main-header {
  font-family: "Cuprum", sans-serif;
  background-color: #f3f7f9;
  padding-bottom: 63px;
}

.container {
  margin: 0 auto;
  width: 940px;
  display: flex;
}

.main-header-logo {
  background-color: #ee3643;
  padding-top: 14px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 10px;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  background-color: #33445a;
}

.header-search {
  margin: 0;
  padding: 14px 50px 10px;
  background: #32425c;
  border: none;
  color: inherit;
}

.header-search input {
  background: #32425c;
  border: none;
}

.controls{
  width: 100%;
}

.bookmarks,
.basket,
.order {
  color: #ffffff;
}

.bookmarks {
  text-align: center;
  padding: 17px 15px;
  padding-left: 40px;
}

.basket {
  text-align: center;
  padding: 17px 15px;
  padding-left: 40px;
}

.order {
  text-align: center;
  padding: 17px 20px;
  background-color: #63a63e;
}

.header-middle {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.header-middle h1 {
  width: 270px;
  padding: 20px 20px 10px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
  text-align: left;
}

.contacts-header {
  padding-top: 10px;
}

.contacts-link {
  width: 300px;
  padding: 10px 10px 10px;
  margin-bottom: 5px;
  border: 3px solid #ffffff;
  text-align: center;
}

.contacts-link a {
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ee3643;
}

.contacts-address {
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
}

.header-bottom {
  padding-bottom: 50px;
}

.user-controls-list {
  /* width: 200px; */
  display: flex;
  margin-left: auto;
}

user-controls li {
  text-align: center
}

.user-controls-list a {
  margin: 20px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #32425c;
}

.user-controls-list, .main-navigation-list {
  list-style: none;
}

.main-navigation-list {
  display: flex;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  color: #ffffff;

}

.main-navigation-list a {
  display: flex;
  color: #ffffff;
  padding-top: 22px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", sans-serif;
}

/*
MAIN
*/

.main-content {
  margin-top: 100px;
}


.offers .offer-materials {
  background-color: #ffbf47;
}

.offers .offer-tools {
  background-color: #3bbce3;
}

.offers .offer-equipment {
  background-color: #dc91d8;
}

.offers .offer-discount {
  margin-right: 0px;
  background-color: #8ed78f;
}

.offers .offer-delivery {
  margin-right: 0px;
  background-color: #ffc047;
}

.offers-content {
  flex-wrap: wrap;
}

.offers-first-row {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}
.offers-first-row li.offer-item:last-child {
  margin-right: 0px;
}

.offers-first-row .offer-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.offers-second-row {
  flex-wrap: wrap;
  display: flex;
}

.offers-second-row .offer-item {
  margin-left: 20px;
  margin-bottom: 20px;
}


.offer-item {
  width: 300px;
}

.offers-right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.offer-slider {
  width: 620px;
}

.offers h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #12346c;
}

.offers a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.slide-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}


/*SECTIONS*/

.section-header a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.section-header .section-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.popular-products {
  margin-bottom: 20px;
}

.section-header {
  align-items: center;
  margin-bottom: 20px;
  padding: 25px 26px;
  background-color: #f9f5f0;
}


.products {
  display: flex;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}
.products-list li:nth-child(4n) {
  margin-right: 0;
}

.products-list img {
  margin-bottom: 33px;
}

.product-item {
  width: 220px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.product-item .product-title {
  margin: 0;
  padding: 0 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -1px;
}

.products-list {
  list-style: none;
}

.product-item .discount {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}

.price {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.product-item .actions a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.product-item .buy {
  color: #ffffff;
}

.product-item .bookmark {
  color: #33445a;
}

.popular-manufacturers a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-list-item {
  display: flex;
  border: 1px solid #eaeaea;
}

.services {
  background-color: #f4f8fa;
}

.services-header h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.services-header p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-slide h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.service-slide p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.information-header,
.contacts-header {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
}

.partners-list {
  list-style: none;
}

.partners-list li {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", sans-serif;
}

.info-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.page-header {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
}

.filter-list label {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.filter-title {
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

/*
FOOTER
*/

.footer-menu {
  list-style: none;
}

.footer-menu a {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #f4f8fa;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", sans-serif;
  color: #f4f8fa;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.footer-social-list {
  list-style: none;
}

.footer-feedback a,
.footer-developers a {
  font-size: 16px;
  line-height: 18px;
  color: #ffda96;
  text-decoration: none;
}

.footer-top {
  background-color: #32425c;
}

.footer-bottom {
  background-color: #293449;
}
